.sqlite3 filter=lfs diff=lfs merge=lfs -text
.csv filter=lfs diff=lfs merge=lfs -text
StylishThreads.csv filter=lfs diff=lfs merge=lfs -text
X filter=lfs diff=lfs merge=lfs -text
StylishThreads/static/generated_emails1.csv filter=lfs diff=lfs merge=lfs -text
